.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  display: block;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.options {
  margin: 20px auto;
  justify-content: space-around;
  display: flex;
  width: 80%;
  font-size: 2rem;
}

.options p{
  cursor: pointer;
}

.tablehead{
  display: block;
  justify-content: space-evenly;
  width: 90%;
  margin: 10px auto;
}

.tabletitle{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px 0;  
}

.tablesubtitle{
  text-align: center;
  font-size: 2rem;
  margin: 40px 0 100px;
}

.tableitens{
  display: flex;
  justify-content: space-evenly;
}

.tableitenstitle{
  font-weight: 600; 
  margin-bottom: 10px;  
  display: flex;
  justify-content: space-evenly;
}

.tableitens div, .tableitenstitle div{
  width: 20%;
  padding: 10px;
  word-break: break-all;
}

.form {
  padding: 40px;
  line-height: 1.15;
  font-size: 1rem;
  text-align: center;
  border-radius: 12px;
  border: solid 1px;
  margin: 40px auto;
  width: fit-content;
}

.formbutton {
  display: block;
  margin: 20px auto 0;
}

